@import 'fonts.css';

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu-bar{
    background: #ffffff;
    padding: 20px 0;
    color: #212121;
}

.menu__item{
    margin-left: 37px;
}
.menu__item a{
    font-family: 'Open Sans Semibold';
    font-size: 20px;
    color: #212121;
}

.menu__item a:hover{
    text-decoration: none;
    color: #868686;
}

.logo{
    width: 50px;
    height: 50px;
}
body{
    font-family: 'Open Sans';
}

/*head*/
.header{
    color: white;
    text-align: center;
    padding: 180px 0;
    background-size: cover;
    background-position: 0 100;
    background-image: url(../img/header.png);
}

.header__title{
    font-size: 55px;
}
.header__text{
    font-size: 20px;
    margin-bottom: 100px;
}

.button{
    padding: 10px 25px;
    margin:  0 10px;
    color: white;
    transition: 0.3s;
    background: #00897b;
    border: 2px solid #00897b;
    cursor: pointer;
    text-transform: uppercase;
    width: 150px;
}

.button:hover{
    background: transparent;
    border: 2px solid white;
}

/*About us*/
.about{
    padding-top: 120px;
    padding-bottom: 125px;
    color: black;
    background: white;
    text-align: center;
}

.about__title{
    font-size: 30px;
    font-weight: bold;
}
.about__text{
    font-size: 15px;
    margin-bottom: 110px;
    color: #212121;
}


.about_h3{
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Open Sans Semibold';
    font-size: 20px;
}

/*services*/
.services{
    padding-top: 165px;
    padding-bottom: 125px;
    color: black;
    background: #e4fdf9;
    text-align: center;
}

.srvice__text{
    font-size: 15px;
    margin-bottom: 30px;
    color: #212121;
    transition: 0.3s;
    padding-left: 20px;
    padding-right: 20px;
}

.our_card{
    background: white;
    padding: 50px 25px 40px;
    transition: 0.3s;
    margin-bottom: 30px;
    max-width: 100%;
}

.our_card:hover{
    background: #00897b;
    color: white;
    box-shadow: 0px 10px 12px -3px rgba(0, 0, 0, 0.26);
}

.our_card:hover .icon{
    color: white;
}

.our_card:hover .srvice__text{
    color: white;
}

.our_card:hover .button_services{
    border: 1px solid white;
    color: white;
}

.icon{
    transition: 0.3s;
    font-size: 60px;
    color: black;
    padding-bottom: 30px;
}

.button_services{
    transition: 0.3s;
    font-family: 'Open Sans Semibold';
    text-transform: uppercase;
    border: 1px solid black;
    background: transparent;
    padding: 14px 12px 14px;
}

.button_services:hover{
    cursor: pointer;
}
/*Portfolio*/
.portfolio{
    padding-top: 120px;
    padding-bottom: 135px;
    text-align: center;
}

.portfolio button:hover,
.focused{
    color: black;
    border: 2px solid #00897b;
    background: transparent;
}

.portfolio img{
    margin-bottom: 30px;
    max-width: 100%;
}
div[filter]:hover{
    position: relative;
}
div[filter]:hover img{
    filter: brightness(50%);
    transition: 0.3s;
}

.text {
    display: none;
}

div[filter]:hover .text {
    display: block;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 999;
    text-align: center;
}

.filter{
    padding-top: 120px;
    padding-bottom: 120px;
}

/*pricing*/

.pricing{
    padding-top: 165px;
    padding-bottom: 125px;
    color: #000;
    background: #f0f1f1;
    text-align: center;
}

.price{
    background: white;
    transition: 0.3s;
    margin-bottom: 20px;
}

.price__head{
    color: white;
    padding-top: 40px;
    padding-bottom: 65px;
    background-image: url(../img/priceHead.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 211px;
}

.price__head p{
    font-size: 25px;
}

.price__head{
    font-size: 50px;
}

.price__head sub{
    vertical-align: middle;
    font-size: 17px;
}

.price__head sup{
    vertical-align: middle;
    font-size: 25px;
}

.price__body{
    font-size: 17px;
    color: #212121;
}

.price__body ul li{
    margin: 0 auto;
    max-width: 175px;
    border-bottom: 1px solid #bfbfbf;
    padding-top: 28px;
    padding-bottom: 12px;
}

.price__footer{
    padding: 60px 0;
}

.price__footer button{
    cursor: pointer;
    border: 2px solid #212121;
    color: #212121;
    background: transparent;
    width: 180px;
    height: 60px;
    font-size: 20px;
    transition: 0.3s;
}

.price__footer button:hover{
    text-transform: uppercase;
    color: white;
    background: #00897b;
    border: none;
}

.price:hover{
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.39);
}

/*team*/
.team {
    padding-top: 165px;
    padding-bottom: 125px;
    color: #000;
    background: #00897b;
    text-align: center;
}
.team h4{
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Open Sans Semibold';
}

.team p{
    font-size: 15px;
    margin-bottom: 30px;
}

.team img{
    margin: 0 auto;
    max-width: 340px;
}

.icons{
    display: flex;
    justify-content: center;
}

.icons a i{
    transition: 0.3s;
}
.icons i:nth-child(1){
    color: #f0f1f1;
}
.icons i:nth-child(2){
    color: #00897b;
}

.icons a:hover i:nth-child(1){
    color: #3949ab;
}
.icons a:hover i:nth-child(2){
    color: white;
}

.multiple-items{
    margin-top: 125px;
}

.dots-style {
    margin-top: 115px;
    display: flex;
    justify-content: center;
}

.dots-style button{
    background: #3949ab;
    border: none;
    border-radius: 50%;
    font-size: 0;
    height: 15px;
    width: 15px;
    margin: 15px;
}

.dots-style li[class="slick-active"] button{
    background: #3949ab;
}

/*blog*/
.left > div:first-child{
    order: 1;
}
.left > div:last-child{
    order: 2;
}

.right > div:first-child{
    order: 2;
}
.right > div:last-child{
    order: 1;
}

.blog{
    text-align: left;
    margin-top: 60px;
}

.blog div{
    margin-top: 15px;
    margin-bottom: 20px;
}

.blog a{
   font-size: 25px;
   color: #00897b;
   font-family: 'Open Sans Semibold';
}

.blog span{
    font-size: 17px;
    font-family: 'Open Sans Semibold';
    margin-right: 35px;
}

.blog i{
    margin-right: 15px;
}

.blog p{
    font-size: 15px;
}

.left, .right{
    margin: 0 -40px;
}

.button_blog{
    width: 220px;
    height: 70px;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    margin-top: 125px;
    border: none;
    background: #00897b;
}


.footer{
    padding-top: 165px;
    padding-bottom: 125px;
    color: #fff;
    background-image: url(../img/footer.png);
    text-align: center;   
    background-repeat: no-repeat;
    background-size: cover;
}

.footer .about__text{
    color: #fff;

}

.fa-map-marker-alt, .fa-phone, .fa-envelope {
    font-size: 62px;
    color: white;
}

.circle{
    background: #3949ab;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 35px;
}

.circle+p{
    font-size: 20px;
}

.footer input, .footer textarea{
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.footer input:focus, .footer textarea:focus{
    outline: none;
}

.footer textarea{
    margin-top: 30px;
    margin-bottom: 30px;
    resize: none;
}

.footer button{
    font-size: 20px;
    text-transform: uppercase;
    color: #212121;
    padding: 20px 80px;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
}

.footer button:hover{
    opacity: 50%;
}

.form{
    margin-top: 70px;
}

/*button to top*/
#toTop {
    z-index: 999;
    width: 40px;
    height: 40px;
    bottom: none;
    font-size: 20px;
    border-radius: 3px;
    background: #00897b;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    color: #000;
}

.menu-icon{
    display: none;
}



/*User card*/
/*header*/
.user_card_header{
    color: white;
    background-size: cover;
    background-position: 0 100;
    background-color: #00897b;    
}

.avatar{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.usercard__text{
    display: inline;
    font-size: 30px;
    color: white;
}

.progres{
    display: inline;
    font-size: 30px;
    padding-right: 0;
}

.progres p{
    text-align: right;
}
/*profile information*/

.profile{
    padding-top: 40px;
    background-color: #fff;
    color: #868686;
}
.profile p{
    font-size: 25px;
    vertical-align: middle;
    display: inline;
}
.profile input{

    width: 100%;
}
.profile textarea{
    resize: none;
    width: 100%;
    height: 100px;
}


.profile_button{
    padding: 10px 25px;
    margin:  0 10px;
    color: white;
    transition: 0.3s;
    background: #00897b;
    border: 2px solid #00897b;
    cursor: pointer;
    text-transform: uppercase;
    width: 150px;
    transition: 0.3s;
}

.profile_button:hover{
    background: transparent;
    border: 2px dotted black;
    color: black;
}

.register_button{
    padding: 10px 25px;
    margin:  0 10px;
    color: white;
    transition: 0.3s;
    background: #00897b;
    border: 2px solid #00897b;
    cursor: pointer;
    text-transform: uppercase;
    width: 200px;
    transition: 0.3s;
}

.register_button:hover{
    background: transparent;
    border: 2px dotted black;
    color: black;
}

/*articles*/

.articles{
    padding-top: 40px;
    color: #868686;
    background-color: #f0f1f1;
}

.article{
    background-color: #fff;
    margin-top: 30px;

}

.article_author{
    margin-top: 20px;
}
.articles_avatar{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
}

.articles__header{
    font-size: 30px;
    vertical-align: middle;
    display: inline;
    color: black;
    margin-left: 20px;

}

.article__content{
    padding-left: 20px;
    color: #000;
}
.article__content img{
    padding-left: 20px;
    width: 400px;
    height: 200px;
    margin-bottom: 10px;
}

.article__content button{ 
    margin-bottom: 20px;
    color: white;
    transition: 0.3s;
    background: #00897b;
    border: 2px solid #00897b;
    cursor: pointer;
    text-transform: uppercase;
    width: 200px;
    transition: 0.3s;
}

.article__content button:hover{
    background: transparent;
    border: 2px dotted black;
    color: black;
}

.tag{
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5rem;
    text-decoration: none;
    display: inline-flex;
}

.tag a{
    color: #868686;
    text-decoration: none;
}

.tag span{
    margin-left: 20px;
    margin-bottom: 20px;
}

.navigation{
    margin-top: 30px;
}

.code{
    white-space: pre-wrap;
}


.comment_header{
    margin-top: 20px;
    color: white;
    background-size: cover;
    background-position: 0 100;
    background-color: #00897b;    
}

.comment{
    background-color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #000;
}

.comment img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: 5px;
}

.comment p{
    margin-left: 50px;
    margin-top: 7px;
}

.comment_footer{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background-color: #868686;
    text-align: center;   
}

.comment_footer textarea{
    margin-bottom: 10px;
    resize: none;
    width: 80%;
}

.comment_footer button{
    font-size: 20px;
    background-color: #00897b;
    text-transform: uppercase;
    color: white;
    padding: 20px 80px;
    border-radius: 10px;
    transition: 0.3s;
}

.comment_footer button:hover{
    opacity: 50%;
    color: #000;
}


/*lessons*/
.scroll-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

@media screen and (max-width: 1024px) {
    nav{
        display: none;
    }
    .logo-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-icon{
        display: block;
        background: #00897b;
        border: none;
        font-size: 25px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .blog{
        text-align: left;
        margin-top: 10px;
    }
    .footer input, .footer textarea{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

